{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    .container {
        text-align: center;
        padding: 70px;
    }
    h1 {
        color: #4CAF50;
        margin-bottom: 20px; /* Space below the heading */
    }
    p {
        font-size: 1.2rem; /* Larger font for description */
        color: #333; /* Darker text for better readability */
    }
    .button-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
    .button-container {
        width: 45%; /* Two columns */
        margin: 10px;
        text-align: center;
    }
    .full-width {
        width: 100%;
        margin: 10px auto;
    }
    button {
        padding: 15px 30px;
        font-size: 1.2rem;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s; /* Smooth background transition */
    }
    button:hover {
        background-color: #45a049;
    }
</style>

<div class="container">
    <h1>Mental Health Evaluation System - Use Cases</h1>
    <p>Select a use case to proceed</p>
    
    <div class="button-grid">
        <!-- Use Case 02: Complete Self-Assessment -->
        <div class="button-container">
            <button onclick="window.location.href='{{ url_for('main.submit_questionnaire') }}'">Complete Self-Assessment</button>
        </div>

        <div class="button-container">
            <button onclick="window.location.href='{{ url_for('main.view_intervention') }}'">view Personalized Interventions</button>
        </div>

        <!-- Use Case 05: Access Educational Resources -->
        <div class="button-container">
            <button onclick="window.location.href='{{ url_for('main.educational_resources') }}'">Access Educational Resources</button>
        </div>

        <!-- Use Case 07: Track Medication -->
        <div class="button-container">
            <button onclick="window.location.href='{{ url_for('main.track_medications') }}'">Track Medication</button>
        </div>

      
        <div class="button-container">
            <button onclick="window.location.href='{{ url_for('main.appointments') }}'">View/Manage Appointments</button>
        </div>

        <div class="button-container">
            <button onclick="window.location.href='{{ url_for('main.predict_emotion') }}'">predicted result</button>
        </div>
    </div>
</div>

{% endblock %}
